<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
</head>
<body>


<header id="home" class="home-section">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Login</a></li>

    </ul>
  </div>
</nav>
</header>

<!- Customer Signup Form Start->
<div class="container" id="main_div">
    <div class="col-xs-6" id="customer_signup">
        <h2>Customer Signup</h2>
        <div class="col-xs-10">
            <style>
                .errorlist{ background-color: red;list-style-type: none;}
          </style>
            <form action="" method="POST" >
            {% csrf_token %}
                    <div class="form-group">
                      {{ form }}
                    </div>
                    <button class="btn btn-default" id="customer_signup_of_signup" name="customer_signup">SignUp</button>
            </form>
            <button class="btn btn-default" id="customer_login_of_signup">Login</button>
        </div>
    </div>
<!- Customer Signup Form End->




<!- Restaurant Signup Form Begin ->
    <div class="col-xs-6" id="restaurant_signup">
        <div class="col-xs-10">
             <h2>Restaurant Signup</h2>
                <form action="/action_page.php" id="rest_sign">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ form2 }}
                    </div>


                    <button  class="btn btn-default" id="hide" name="restaurant_signup">SignUp</button>
                </form>
        </div>
    </div>
<!- Restaurant Signup Form End->




</div>

</body>
</html>
