<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
</head>
<body>

<header id="home" class="home-section">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="#">Login</a></li>

    </ul>
  </div>
</nav>
</header>

<div class="container" id="main_div">

    <!- Customer Login Form Start->
    <div class="col-xs-6" id="customer_login">
        <h2>Customer Login</h2>
        {% if error %}
        <h4> Invalid Email or Password</h4>
        {% endif %}
        <div class="col-xs-10">
            <form action="" method="POST">
            {% csrf_token %}
                    <div class="form-group">
                        {{ form1 }}
                    </div>
                    <button class="btn btn-default" name="customer_login" type="submit">Login</button>
            </form>
            <h4>Create New Account <a href="{% url 'signup' %}">SignUp</a></h4>
        </div>
    </div>
    <!- Customer Login Form End->


    <!-Restaurant login start-->
    <div class="col-xs-6" id="restaurant_login">
        <h2>Restaurant Login</h2>
        <div class="col-xs-10">
            <form action="" method="POST" >
            {% csrf_token %}
                    <div class="form-group">
                      {{ form2 }}
                    </div>
                    <button class="btn btn-default" id="restaurant_login" name="restaurant_login" style="">Login</button>
            </form>
            <h4>Create New Account <a href="{% url 'signup' %}">SignUp</a></h4>
        </div>
    </div>
    <!- Restaurant Login Form End->


</div>
</body>
</html>