<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
</head>
<body>


<header id="home" class="home-section">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>

    </ul>
  </div>
</nav>
</header>

<div class="container" id="main_div">
    <!- Customer Signup Form Start->
    <div class="col-xs-6" id="customer_signup">
        <h2>Customer Signup</h2>
        <div class="col-xs-10">
            <style>
                .errorlist{ background-color: red;list-style-type: none;}
          </style>
            <form action="" method="POST" >
            {% csrf_token %}
                    <div class="form-group">
                      {{ form }}
                    </div>
                    <button class="btn btn-default" id="customer_signup_of_signup" name="customer_signup" style="">SignUp</button>
            </form>
            <h4>Already Have Account? <a href="{% url 'login' %}">SignIn</a></h4>
        </div>
    </div>
<!- Customer Signup Form End->




<!- Restaurant Signup Form Begin ->
    <div class="col-xs-6" id="restaurant_signup">
        <div class="col-xs-10">
             <h2>Restaurant Signup</h2>
                <form action="" id="rest_sign" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ form2 }}
                    </div>
                    <button  class="btn btn-default" id="hide" name="restaurant_signup" onclick="populate()">SignUp</button>
                    <h4>Already Have Account? <a href="{% url 'login' %}">SignIn</a></h4>
                </form>
        </div>
    </div>
<!- Restaurant Signup Form End->

</div>
</body>


<!-generates unique id for the restaurant ->

<script>

    function uniqueId() {
    var date = Date.now();

    // If created at same millisecond as previous
    if (date <= uniqueId.previous) {
        date = ++uniqueId.previous;
    } else {
        uniqueId.previous = date;
    }

    return date;
}
    uniqueId.previous = 0;

    function populate() {
        unique_id = document.getElementById('id_unique_id');
        val=uniqueId();
        unique_id.value = val;
    }

</script>

<!- AJAX HERE------------------------------------------------------------------------------------------------------->











































<!-AJAX------------------------------------------------------------------------------------------------------------------------------------>



</html>
